@charset "utf-8";

div.bloco{
    height: 200px;
    border: 1.5px solid black;
    margin: 5px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-image: url(imagens/wallpaper003.jpg);    
}

div#b1{
    background-position: left top ;
}
div#b2{
    background-position: center center ;
}
div#b3{
    background-position: right bottom ;
}